.grid-sizer, .grid-item {
  width: 33%;
  margin-bottom: 20px;

  @include breakpoint(medium down){
    width: 50%;
  }

  @include breakpoint(small down){
    width: 100%;
  }

  img {
    padding: 0 10px 0;
  }
}