body {
  background-color: #F1F1F1;
}

.main {
  padding: 0 3%;
  .content {
    padding: 25px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #FFF;
  }
}

.off-canvas {
  background-color: $light-black;
  color: $white;
}

nav {
  padding: 40px;
}

ul.menu {
  @include font-montserrat;
  margin-bottom: 2rem;

  li {
    display: inline;
  }

  a {
    color: $light-grey;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 0;
    &:hover {
      color: $grey;
    }
  }

  li.end-main-menu a{
    margin-bottom: 2rem;
  }

  p {
    color: $light-grey;
    font-size: .95rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
  }
  ul.menu {
    a {
      color: $grey;
      font-size: .9rem;
      line-height: 1.5rem;
      padding: 0;
      &:hover {
        color: $light-grey;
      }
    }
  }
}