.off-canvas {
  background-color: #fff;//$light-black;
  color: $white;
}

ul.menu {
  p {
    text-transform: uppercase;
    color: $light-grey;
  }
  a{
    color: $grey;
    &:hover{
      color: $light-grey;
    }
  }
}