#map {
  position: relative;
  padding-bottom: 100%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
#legend {
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 2px solid #000;
  .planned{
    color: #ff4400;
  }
  .done{
    color: #0000ff;
  }
  img{
    display: inline-block;
  }
}
