$breakpoint-classes: (small medium large xlarge);

$header-font-family: BenchNine, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
$header-font-style: bold;
$paragraph-lineheight: 1.8;

$body-font-family: Raleway, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;