%figure{:itemprop=>"associatedMedia", :itemscope=>'', :itemtype=>"http://schema.org/ImageObject"}
  %a{:href=>image_large_path(img_name), :itemprop=>"contentUrl", :'data-size'=>"1920x1200"}
    %img{:src=>image_small_path(img_name), :itemprop=>"thumbnail", :alt=>"Image description"}