.grid-item
  %figure.grid-content-container{:itemprop=>"associatedMedia", :itemscope=>'', :itemtype=>"http://schema.org/ImageObject"}
    %a{:href=>image_large_path(img_name), :itemprop=>"contentUrl", :'data-size'=>image_large_size(current_article, img_name)}
      %img{:src=>image_small_path(img_name), :itemprop=>"thumbnail", :alt=>"Image description"}