---
title:
---
.main
  .content
    %h1 About
    %h2 Kontakt
    %h3 Janosch
    %p
      <b>E-Mail:</b> janosch.rohdewald@gmail.com
      %br
      <b>Tel/SMS:</b> +372 57 694 226 (verrechnet wird immer nur Tel. nach Estland)
      %br
      <b>WhatsApp:</b> +41 79 539 18 86 (SMS/Tel <b>nicht</b> auf diese Nummer)
      %br
      <b>Sat. Tel:</b> +8816 31 400 554 (>4 CHF / Min)

    %h3 Günter
    %p
      <b>E-Mail:</b> guenter.a@bluewin.ch
      %br
      <b>Natel:</b> +41 79 340 11 03 (SMS/Tel <b>nicht</b> auf diese Nummer)
