---
title: Welcome to Middleman
---
.title-bar.hide-for-large
  .title-bar-left
    %button.menu-icon{:type => "button", 'data-open' => "my-info"}
    %span.title-bar-title Janosch Rohdewald

.callout.primary
  .row.column
    %h1 Hello! This is the portfolio of a very witty person
    %p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.

.row.small-up-2.medium-up-3.large-up-4
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
    %h5 My Site