---
title: Welcome to Middleman
---

.row.small-up-2.medium-up-3.large-up-4
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}
  .column
    %img.thumbnail{:src => "http://placehold.it/550x550"}