---
title: Welcome to Middleman
---

.blog-grid
  .grid-sizer
  - blog.articles[0...10].each do |article|
    - 0.upto(4) do |i|
      .grid-item
        = link_to(article) do
          %img.init{:src => image_small_path(article, article_images(article)[i])}
          %p=article.title